# Byte-compiled / cache / logs
__pycache__/
*.py[cod]
*.log

# Virtual environment
venv/
env/
.venv/
.env/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Hidden system files
.DS_Store
Thumbs.db

# Python egg / packaging
*.egg
*.egg-info/
dist/
build/

# Ignore PDFs
*.pdf

# Ignore ZIP files
*.zip

# Ignore CSV files
*.csv


# VSCode settings (optional)
.vscode/

# Spyder settings (optional)
.spyderproject
.spyproject

# Jupyter Notebook metadata
*.nbconvert.ipynb
